<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/main.css" />
  <title>Document</title>
</head>

<body>



  <!-- header -->
  <header>
    <nav class="sub-header">
      <ul class="sub-menu">
        <li><a href="">InShim소개</a></li>
        <li><a href="">고객지원</a></li>
        <li><a href="">예약조회</a></li>
      </ul>
      <div class="sub-login" id="login-section">
        <a href="/inshim/login">로그인/회원가입</a>
      </div>
      <div id="sub-mypage" style="display: none;">
        <a href="/inshim/mypage">마이페이지</a>
      </div>
    </nav>
  </header>
  <header>
    <nav class="main-header">
      <div class="header-logo">
        <a href="/inshim">INSHIM</a>
      </div>
      <ul class="main-menu">
        <li><a href="">지역소개</a></li>
        <li><a href="/inshim/route">코스보기</a></li>
        <li><a href="/inshim/essay">후기보기</a></li>
      </ul>
    </nav>
  </header>

  <!--main-img-->
  <div class="flex-box">
    <div class="box">
      <a href="/inshim/intro_seoul">
        <img src="https://wallpaperaccess.com/full/1311738.jpg" alt="seoul" />
        <p class="text" id="location">서울</p>
        <br />
        <p class="text" id="sub1">SEOUL</p>
        <br />
        <p class="text" id="sub2">
          도시 한폭판에서 역사를 그대로 안고있는 아름다운 고궁들과 더불어
          대한민국의 트렌드를 이끌어나가는 예술과 문화를 둘러볼 수 있습니다.
        </p>
      </a>
    </div>
    <div class="box">
      <a href="inshim/intro_busan">
        <img src="https://wallpapers.com/images/hd/busan-south-korea-aesthetic-og37u3i353p7nl8e.jpg" alt="busan" />
        <p class="text" id="location">부산</p>
        <br />
        <p class="text" id="sub1">BUSAN</p>
        <br />
        <p class="text" id="sub2">
          전통시장에서 맛볼 수 있는 다양한 먹거리와 대표 관광지인
          해운대부터 광안리까지 이어지는 도심 속 휴양지를 즐겨볼 수 있습니다.
        </p>
      </a>
    </div>
    <div class="box">
      <a href="inshim/intro_gangneung">
        <img
          src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMDA4MDJfMjU0%2FMDAxNTk2MzU5NjczMjYy.ALUujneZGlBZ56C3glmFcAf__1PCV0efagJg0NetpOQg.-voZpn0KvWUWiKNH6gzXBpSwwGSmeOUkTxLpWB75KJ4g.JPEG.kcw990%2FIMG_6479.JPG&type=sc960_832"
          alt="gangneung" />
        <p class="text" id="location">강릉</p>
        <br />
        <p class="text" id="sub1">GANGNEUNG</p>
        <br />
        <p class="text" id="sub2">
          향긋한 커피와 아름다운 일출과 야경을 지평선 끝까지 펼쳐지는 푸른 동해바다와 함께 즐겨볼 수 있습니다.
        </p>
      </a>
    </div>
    <div class="box">
      <a href="inshim/intro_jeju">
        <img src="https://thumbs.dreamstime.com/b/seongsan-ilchulbong-tuff-cone-trail-jeju-island-korea-222706688.jpg"
          alt="jeju" />
        <p class="text" id="location">제주</p>
        <br />
        <p class="text" id="sub1">JEJU</p>
        <br />
        <p class="text" id="sub2">
          에메랄드빛 바다와 함께하는 아름다운 자연경관과
          제주를 대표하는 다양한 음식을 맛볼 수 있습니다.
        </p>
      </a>
    </div>
  </div>

  <!-- footer -->
  <footer>
    <div class="inner-footerbox">
      <div class="footer-logo">INSIHM</div>
      <div class="footer-copyright">
        <span>&copy; 2023 INSIHM</span>
        <div class="footer-infobox">
          <span>주) 인심</span>
          <span>대표자명: 인심</span>
          <span>사업자번호: 2023-06-01</span>
          <span>통신판매신고번호: 제 2023-서울마포-0601 호</span><br />
          <span>이메일 문의: inshim@gmail.com</span>
          <span>개인정보보호책임자: 인심</span>
          <span>주소: 서울특별시 마포구 도화2길 53</span>
          <span>대표번호: <a href="">2023-0601</a></span>
        </div>
      </div>


      <div class="footer-menu">
        <ul>
          <li>
            <span>고객 서비스</span>
            <hr />
          <li><a href="">문의</a></li>
          <li><a href="">서비스</a></li>
          <li><a href="">예약조회</a></li>
          <li><a href="">예약취소</a></li>
          <li><a href="">코스 가이드</a></li>
          <li><a href="">추천 가이드</a></li>
          </li>
        </ul>
        <ul>
          <li>
            <span>법적 고지</span>
            <hr />
          <li><a href="">공지사항</a></li>
          <li><a href="">이용약관</a></li>
          <li><a href="">개인정보처리방침</a></li>
          <li><a href="">쿠키정책</a></li>
          </li>
        </ul>
        <ul>
          <li>
            <span>소셜 미디어</span>
            <hr />
          <li><a href="">페이스북</a></li>
          <li><a href="">인스타그램</a></li>
          <li><a href="">유튜브</a></li>
          <li><a href="">트위터</a></li>
          <li><a href="">카카오톡</a></li>
          <li><a href="">핀터레스트</a></li>
          <li><a href="">위쳇</a></li>
          <li><a href="">웨이보</a></li>
          </li>
        </ul>
      </div>
  </footer>
  <script src="/js/logout.js"></script>

</body>

</html>