<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/intro_busan.css" />
  <title>Document</title>
</head>

<body>
  <div class="img">
    <img src="/images/busan_background.jpg" />
  </div>
  <div class="busan-introduce">
    부산<br />BUSAN
    <hr />
    <p class="busan-sub">
      대한민국 제2의 수도 부산광역시.<br />
      부산 대표 관광지로 손꼽히는 해운대는 밤에는 마린시티의 야경이 더해져
      더욱 화려한 해변이 됩니다. <br />
      감천문화마을은 사진 찍기에 좋으며, 매해 가을마다 개최되는 아시아 최대
      규모의 영화제인 부산국제영화제와 함께 부산의 구석구석을 즐겨보는 것도
      좋습니다.<br />
      전통시장 투어가 있을 만큼 먹거리가 가득한 부산의 맛기행을 즐겨보세요!
    </p>
  </div>
  <div class="button">
    <a id="button-main" href="/inshim">메인으로</a>
    <a id="button-route" href="/inshim/route">코스보기</a>
    <a id="button-essay" href="/inshim/essay">후기보기</a>
  </div>
</body>

</html>