<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
  <h3>회원 정보</h3>
  <div id="user_info">
    <div id="user_id">
      아이디:
      <p id="user_id_text"></p>
    </div>
    <div id="user_name">
      이름:
      <p id="user_name_text"></p>
    </div>
    <div id="user_country">
      국적:
      <p id="user_country_text"></p>
    </div>
  </div>
  <form id="change_password_form" name="change_password_form">
    <label for="current_password">현재 비밀번호:</label>
    <input type="password" id="current_password" name="currentPassword" required />
    <br />
    <label for="new_password">새로운 비밀번호:</label>
    <input type="password" id="new_password" name="newPassword" required />
    <br />
    <button type="button" onclick="pwChangeFunc()">비밀번호 변경</button>
  </form>
  <div id="result"></div>

  <button type="button" onclick="logoutFunc()">로그아웃</button>
  <script src="/js/mypage.js"></script>
</body>

</html>