<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/register.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <title>회원가입</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
  <h2>회원가입</h2>
  <div>
    <form name="register">
      <label for="user_id">아이디</label>
      <br />
      <input name="user_id" id="user_id" type="text" placeholder="아이디를 입력해주세요" />
      <br />
      <button type="button" id="check_user_id" onclick="checkUserId()">
        아이디 중복 검사
      </button>
      <br />
      <label for="user_pw">비밀번호</label>
      <br />
      <input name="user_pw" id="user_pw" type="password" placeholder="비밀번호를 입력해주세요" />
      <br />
      <label for="user_name">이름</label>
      <br />
      <input name="user_name" id="user_name" type="text" placeholder="이름을 입력해주세요" />
      <br />
      <label for="user_country">국적</label>
      <br />
      <input name="user_country" id="user_country" type="text" placeholder="국적을 입력해주세요" />
      <br />
      <button type="button" onclick="registFunc()">회원가입</button>
    </form>
  </div>
  <script src="/js/register.js"></script>
</body>

</html>