/* 고딕 */
@font-face {
  font-family: 'KimjungchulGothic-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* 명조 */
@font-face {
  font-family: 'KimjungchulMyungjo-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* 스위트 */
@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-sm: 14px;
  --font-md: 18px;
  --font-lg: 24px;
  --border-radius: 10px;
  --font-weight-bold: 700;
  --font-weight-thin: 300;
  --main-color: black;
  --highlight-color: #8dd3c2;
  --white: #fff;
  --lightblack: #858585;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'SUITE-Regular', sans-serif;
}

body {
  margin: 0;
}

/* main-img */
.flex-box {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 18%;
  margin-right: 15%;
}

.box {
  width: 300px;
  height: 700px;
  background-color: white;
  margin: 5px;
  position: relative;
  overflow: hidden;
  font-family: 'SUITE-Regular', sans-serif;
}

.box img {
  width: 300px;
  height: 700px;
  transition: transform 0.3s;
}
.box:hover img {
  transform: scale(1.1);
  filter: brightness(0.8);
}

.box .text {
  position: absolute;
  left: 50%;
  top: 30%;
  font-size: var(--font-md);
  color: white;
  transform: translate(-50%, -50%);
}

.box #location {
  font-size: 40px;
  font-weight: var(--font-weight-thin);
}

.box #sub1 {
  font-size: var(--font-md);
  font-weight: var(--font-weight-thin);
  top: 38%;
}

.box #sub2 {
  font-size: 16px;
  font-weight: var(--font-weight-thin);
  top: 60%;
  color: rgba(255, 255, 255, 0.714);
  word-break: keep-all;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.box:hover #sub2 {
  opacity: 1;
}

/* footer */
footer {
  width: 100%;
  height: auto;
  margin-top: 20px;
  font-size: var(--font-sm);
  background-color: #f7f7f7;
  font-family: 'SUITE-Regular', sans-serif;
}

.inner-footerbox {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 35px;
}
footer .footer-logo {
  font-size: 30px;
  padding: 20px;
  padding-left: 5px;
  font-family: 'KimjungchulMyungjo-Bold', sans-serif;
}

footer .footer-copyright {
  font-size: var(--font-sm);
  color: var(--lightblack);
  display: block;
  justify-content: space-between;
  align-items: flex-end;
  height: 200px;
  display: inline-block;
  padding: 30px;
  padding-left: 10px;
}

footer .footer-copyright span {
  display: block;
  min-width: 300px;
  max-width: 300px;
  letter-spacing: -1px;
  cursor: default;
}

footer .footer-copyright .footer-infobox span a {
  text-decoration: underline;
  color: var(--lightblack);
}

footer .footer-menu {
  display: inline-flex;
  padding-left: 80px;
  vertical-align: top;
}
footer .footer-menu ul {
  width: 200px;
}
footer .footer-menu ul li {
  list-style: none;
  text-decoration: none;
  height: 35px;
}
footer .footer-menu ul li span {
  display: inline-block;
  height: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #343434;
  letter-spacing: -1px;
}

footer .footer-menu ul li a {
  color: var(--lightblack);
  letter-spacing: -1px;
  text-decoration: none;
}
