/* 고딕 */
@font-face {
  font-family: 'KimjungchulGothic-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* 명조 */
@font-face {
  font-family: 'KimjungchulMyungjo-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-sm: 14px;
  --font-md: 18px;
  --font-lg: 24px;
  --border-radius: 10px;
  --font-weight-bold: 700;
  --font-weight-thin: 300;
  --main-color: black;
  --highlight-color: #b9f3e4;
  --white: #fff;
  --lightblack: #929496;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'KimjungchulGothic-Bold', sans-serif;
}

.sub-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 20px;
  padding: 8px;
  background-color: white;
}

.sub-menu {
  display: flex;
  list-style: none;
}

.sub-menu li a {
  padding: 10px;
  font-size: var(--font-sm);
  font-weight: var(--font-weight-thin);
  text-decoration: none;
  color: var(--lightblack);
}

.sub-menu li a:hover {
  color: var(--highlight-color);
}

.sub-login a {
  padding: 40px;
  font-size: var(--font-sm);
  font-weight: var(--font-weight-thin);
  text-decoration: none;
  color: var(--lightblack);
}

.sub-login a:hover {
  color: var(--highlight-color);
}

.main-header {
  background-color: white;
  width: 100%;
  height: 100px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-logo a {
  font-weight: var(--font-weight-bold);
  font-size: 40px;
  padding: 20px;
  text-decoration: none;
  color: black;
  font-family: 'KimjungchulMyungjo-Bold', sans-serif;
}

/* .header-logo a:hover {
    color: var(--highlight-color);
  } */
.main-menu {
  display: flex;
  list-style: none;
}

.main-menu li a {
  padding: 80px;
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: var(--font-md);
  font-weight: var(--font-weight-thin);
  text-decoration: none;
  color: var(--main-color);
}

.main-menu li a:hover {
  color: var(--highlight-color);
}

/* ======================== userinfo ========================= */
main {
  display: flex;
  width: 100%;
  height: 200px;
  margin-top: 30px;
  position: relative;
}

.main-box {
  display: flex;
  margin: 0 auto;
}

.main-box-1 {
  display: flex;
  width: 300px;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.main-box-1 select {
  height: 30px;
}

.button {
  width: 70px;
  height: 30px;
  position: absolute;
  left: 72%;
  top: 70%;
}

section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
  margin-top: 30px;
}

.section-result {
  display: grid;
  grid-row: auto;
  width: 1000px;
  height: 30px;
}

.section-result div {
  width: 100%;
  height: 50px;
  font-size: 25px;
  line-height: 50px;
  margin-bottom: 10px;
  background-color: #eaeef1;
  border-radius: 20px;
  padding-left: 20px;
  position: relative;
}

img {
  width: 50px;
  height: 50px;
}

.section-result button {
  width: 70px;
  height: 30px;
  position: absolute;
  left: 90%;
  background-color: transparent;
  border: none;
}
